<!-- Script to train RL agents -->
<launch>

    <arg name="max_episode_length" default="100" />
    <arg name="baseline_mode" default="false" />

    <!-- Table sim environments -->
    <node name="eval" pkg="task_sim" type="table_sim.py">
        <param name="terminal_input" value="false" />
        <param name="quiet_mode" value="true" />
        <param name="seed" value="0" />
        <param name="complexity" value="1" />
    </node>

    <node name="drawer0" pkg="task_sim" type="table_sim.py">
        <param name="terminal_input" value="false" />
        <param name="quiet_mode" value="true" />
        <param name="env_type" value="0" />
        <param name="seed" value="0" />
        <param name="complexity" value="0" />
    </node>

    <node name="drawer1" pkg="task_sim" type="table_sim.py">
        <param name="terminal_input" value="false" />
        <param name="quiet_mode" value="true" />
        <param name="env_type" value="2" />
        <param name="seed" value="0" />
        <param name="complexity" value="0" />
    </node>

    <node name="drawer2" pkg="task_sim" type="table_sim.py">
        <param name="terminal_input" value="false" />
        <param name="quiet_mode" value="true" />
        <param name="env_type" value="2" />
        <param name="seed" value="0" />
        <param name="complexity" value="0" />
    </node>

    <node name="box0" pkg="task_sim" type="table_sim.py">
        <param name="terminal_input" value="false" />
        <param name="quiet_mode" value="true" />
        <param name="env_type" value="1" />
        <param name="seed" value="0" />
        <param name="complexity" value="0" />
    </node>

    <node name="box1" pkg="task_sim" type="table_sim.py">
        <param name="terminal_input" value="false" />
        <param name="quiet_mode" value="true" />
        <param name="env_type" value="3" />
        <param name="seed" value="0" />
        <param name="complexity" value="0" />
    </node>

    <node name="box2" pkg="task_sim" type="table_sim.py">
        <param name="terminal_input" value="false" />
        <param name="quiet_mode" value="true" />
        <param name="env_type" value="3" />
        <param name="seed" value="0" />
        <param name="complexity" value="0" />
    </node>

    <!-- Trainer node -->
    <node name="amdp_q_learner" pkg="task_sim" type="amdp_q_learner.py" required="true" output="screen">
        <param name="max_episode_length" type="int" value="$(arg max_episode_length)" />
        <param name="baseline_mode" type="bool" value="$(arg baseline_mode)" />
    </node>
</launch>
